*{
    color:#7c654e;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.heading {
    display: flex;
    min-height: 5vh;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

header{  
     background-color:#ccded3;}


@media (max-width:800px){
    .heading{
   display:none;
    }
    .photos{
        margin:1em;
    grid-template-columns: 100px 50px 100px;
    grid-template-rows: 80px auto 80px;
    column-gap: 10px;
    row-gap: 15px;
    }
    img {
        flex-grow:1;
        width: 13.5em;
        height:13.5em;
    }
    }

.photos{
    justify-content: space-between;
    margin:1em;
text-align: center;
grid-template-columns: 20px 10px 20px;
grid-template-rows: 50px auto 50px;
column-gap: 50px;
row-gap: 50px;
}

img:hover{
    transform: scale(1.2);
    
    
}

img {
    flex-grow:1;
    width: 20em;
    height:20em;
    padding: 5px;
    border-radius: 25px;
    transition: 0.5s;
}


.sub-categories{
    display:inline-flex;
    justify-content: space-between;
    font-size: 1em;
    margin-top: 1em;
}
.top{
    background-color:#ccded3;;
    padding:1em;
    text-align: center;
}

.filmgrablogo {
    font-size: larger;
    border: none;
    color:#7c654e;
    cursor:pointer;
    background-color:#ccded3;
}

.artistoptions-style{
    display: block;
}
.dropbtn{
    background-color:#ccded3;
    color:#7c654e;
    border: none;
    cursor: pointer;
}

.artistoptions {
    display:none;
    background-color:#ccded3;
    z-index: 1;
}

.artistbrowse:hover .artistoptions {
    display:block;
}

.categorybrowse:hover .categoryoptions{
    display: block;
}

.categorybtn{
    background-color:#ccded3;
    color: #7c654e;
    border: none;
    cursor:pointer;
}

.categoryoptions {
    display:none;
    text-align: center;
    background-color:#ccded3;
    z-index:1;
}
.filmsbrowse:hover .film-options{
    display: block;
}

.filmsbtn{
    background-color:#ccded3;
    color:#7c654e;
    border: none;
    cursor:pointer;
}

.film-options {
    display:none;
    text-align: center;
    background-color:#ccded3;
    z-index:1;
}

.randompost-btn {
    border: none;
    color:#7c654e;
    background-color:#ccded3;
}

.mission-btn {
    border: none;
    color: #7c654e;
    background-color:#ccded3;
}

.paetron-btn {
    border:none;
    color: #7c654e;
    background-color:#ccded3;
}

.contact-btn { 
    border: none;
    color: #7c654e;
    background-color:#ccded3;
}

.creative-btn{
    border: none;
    color: #7c654e;
    background-color:#ccded3;
}